body {
  background-color: rebeccapurple;
}

.dropdown-button {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  display: grid;
  gap: 1px;
  justify-content: center;
  align-items: center;
}

.dropdown-button:hover {
  border: 1.5px solid black;
}

.dropdown-button:active {
  background-color: rgb(186, 186, 186);
}

.horizontal-line {
  background-color: black;
  height: 3px;
  width: 12px;
  border-radius: 2px;
}

.dropdown-options {
  display: grid;
  grid-auto-flow: row;
  width: 120px;
}